<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Your best MealApp in the Universe!
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
