Meals in Category:<br/>
<div class="container-fluid">
    <div class="row">
        <!-- <button type="button" class="btn btn-light col-md-1" (click)="moveWindow(-1)"><span class="glyphicon glyphicon-menu-left"></span></button> -->
        <span class="col-md-3" *ngFor="let category of mealsArr">
            <a [routerLink]="['/itemdetails', category.idMeal]">
            <img src="{{ category.strMealThumb }}/preview"><br/>{{category.strMeal}}
            </a>
        </span>
        <!-- <button type="button" class="btn btn-light col-md-1" (click)="moveWindow(1)"><span class="glyphicon glyphicon-menu-right"></span></button> -->
    </div>
</div>