<div class="container-fluid">
  <div class="row">
    <span *ngFor="let item of itemsArr">
      <h3 class="text-center">{{ item.strMeal }} ({{ item.idMeal }})</h3>
      <div class="text-center"><img src="{{ item.strMealThumb }}" /></div>
      <div class="text-center">
        {{ item.strDrinkAlternate }}<br />
        Category: {{ item.strCategory }}<br />
        Dish from: {{ item.strArea }}<br />
      </div>
      <div>
        <p>Ingredients:</p>
        <div *ngIf="item.strIngredient1">
          {{ item.strIngredient1 }} - {{ item.strMeasure1 }}
        </div>
        <div *ngIf="item.strIngredient2">
          {{ item.strIngredient2 }} - {{ item.strMeasure2 }}
        </div>
        <div *ngIf="item.strIngredient3">
          {{ item.strIngredient3 }} - {{ item.strMeasure3 }}
        </div>
        <div *ngIf="item.strIngredient4">
          {{ item.strIngredient4 }} - {{ item.strMeasure4 }}
        </div>
        <div *ngIf="item.strIngredient5">
          {{ item.strIngredient5 }} - {{ item.strMeasure5 }}
        </div>
        <div *ngIf="item.strIngredient6">
          {{ item.strIngredient6 }} - {{ item.strMeasure6 }}
        </div>
        <div *ngIf="item.strIngredient7">
          {{ item.strIngredient7 }} - {{ item.strMeasure7 }}
        </div>
        <div *ngIf="item.strIngredient8">
          {{ item.strIngredient8 }} - {{ item.strMeasure8 }}
        </div>
        <div *ngIf="item.strIngredient9">
          {{ item.strIngredient9 }} - {{ item.strMeasure9 }}
        </div>
        <div *ngIf="item.strIngredient10">
          {{ item.strIngredient10 }} - {{ item.strMeasure10 }}
        </div>
        <div *ngIf="item.strIngredient11">
          {{ item.strIngredient11 }} - {{ item.strMeasure11 }}
        </div>
        <div *ngIf="item.strIngredient12">
          {{ item.strIngredient12 }} - {{ item.strMeasure12 }}
        </div>
        <div *ngIf="item.strIngredient13">
          {{ item.strIngredient13 }} - {{ item.strMeasure13 }}
        </div>
        <div *ngIf="item.strIngredient14">
          {{ item.strIngredient14 }} - {{ item.strMeasure14 }}
        </div>
        <div *ngIf="item.strIngredient15">
          {{ item.strIngredient15 }} - {{ item.strMeasure15 }}
        </div>
        <div *ngIf="item.strIngredient16">
          {{ item.strIngredient16 }} - {{ item.strMeasure16 }}
        </div>
        <div *ngIf="item.strIngredient17">
          {{ item.strIngredient17 }} - {{ item.strMeasure17 }}
        </div>
        <div *ngIf="item.strIngredient18">
          {{ item.strIngredient18 }} - {{ item.strMeasure18 }}
        </div>
        <div *ngIf="item.strIngredient19">
          {{ item.strIngredient19 }} - {{ item.strMeasure19 }}
        </div>
        <div *ngIf="item.strIngredient20">
          {{ item.strIngredient20 }} - {{ item.strMeasure20 }}
        </div>
      </div>
      <p></p>

      <div>
        How to prepare:
        <div style="white-space: pre-wrap">{{ item.strInstructions }}</div>
        {{ item.strTags }}<br />
        <div *ngIf="item.strYoutube">
          <app-videoembed url="{{ item.strYoutube }}"></app-videoembed>
          <br />
        </div>
      </div>

      <div *ngIf="item.strSource">
        Source: <a href="{{ item.strSource }}">{{ item.strSource }}</a>
      </div>
      <div *ngIf="item.strImageSource">
        Image source:
        <a href="{{ item.strImageSource }}">{{ item.strImageSource }}</a>
      </div>
      <div *ngIf="item.strCreativeCommonsConfirmed">
        {{ item.strCreativeCommonsConfirmed }}
      </div>
      <div *ngIf="item.dateModified">
        {{ item.dateModified }}
      </div>
    </span>
  </div>
</div>
