<div class="container-fluid">
    <div class="text-center">
Highlight of the day!
    <div class="row">
        <a [routerLink]="['/itemdetails', mealId]">
<img src="{{mealImage}}/preview"><br/>
{{mealName}}<br/></a>
</div>
</div>
