Meals in Category:<br/>
<div class="container-fluid">
    <div class="row">
        <input type="text" [(ngModel)]="searchVal">
        <button class="btn btn-default" (click)="searchForItem()">Search!</button>
    </div>
    <div class="row" *ngIf="searched">
        <span class="col-md-3" *ngFor="let category of mealsArr">
            <a [routerLink]="['/itemdetails', category.idMeal]">
            <img src="{{ category.strMealThumb }}/preview"><br/>{{category.strMeal}}
            </a>
        </span>
    </div>
</div>