<div class="text-center">
    Video Tutorial: (direct link: <a href="{{url}}">{{url}}</a>) <br/>
    <iframe [src]='safeUrl' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>